<ion-view title="About Us" id="page16">
    <ion-content padding="true" class="has-header">
        <h3 id="aboutus-heading14" style="color:#4BA362;font-weight:400;text-align:center;">AWAK KAT MANA</h3>
        <div>
            <img src="img/katmana round.png" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 1em;">
        </div>
        <div id="aboutus-markdown3" style="color:#4B4B4B;text-align:justify;">
            <p>AWAK KAT MANA is a free location messenger that will ease your worries in a heartbeat! It allows you to keep in touch with your worthy objects in life.</p>

            <p>Stay updated on where they are and how they are doing! AWAK KAT MANA can be used to monitor and track:</p>
        </div>
        <div>
            <img src="img/family friends.png" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="aboutus-markdown4" style="color:#4B4B4B;text-align:justify;">
            <p>
                <strong>People</strong>. Stay connected with your parents, children, friends, employees, students etc.</p>
        </div><br>
        <div>
            <img src="img/transport.png" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div><br>
        <div id="aboutus-markdown5" style="color:#4B4B4B;text-align:justify;">
            <p>
                <strong>Vehicles</strong>. Track your cars, superbikes or even public transportations.</p>
        </div><br>
        <div>
            <img src="img/belongings.png" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div><br>
        <div id="aboutus-markdown6" style="color:#4B4B4B;text-align:justify;">
            <p>
                <strong>Belongings</strong>. Ensure the safety of your belongings. Find your stolen belongings!</p>
        </div><br>
        <div id="aboutus-markdown7" style="color:#4B4B4B;text-align:justify;">
            <p>
                <strong>Track more than 1 object.</strong>We believe you have a wondrous heart. Track more than one objects that mean the whole world to you!</p><br>

            <p>
                <strong>Preserve your safety and privacy</strong>while using our tracking system! Your data is safe with us. It will not be sold for advertising.</p><br>

            <p>
                <strong>Power Savings.</strong>Consumes very less battery, due to highly efficient GPS On/Off algorithm.</p>
        </div>
        <br>
        <h3 id="aboutus-heading16" style="color:#4BA362;font-weight:400;text-align:center;">Never missed a thing anymore!<br>Stay Connected Always!</h3><br>
    </ion-content>
</ion-view>