
<ion-view>
<ion-pane style="background-color: white;">


  <ion-header-bar align-title="left" class="bar-custom-dark" style="height:8%">
	<div ng-controller="MainCtrl">
   		<i class="ion-android-arrow-back custom-icon" ng-click="myGoBack()"></i>
   		<p class="headbar">ADD TRACKER</p>
   </div>
  </ion-header-bar>

<ion-content class="scroll">

	<center>

 	<form name="ADD TRacKer by name">
	<p class="head">Add Tracker</p>
	<p class="space"></p>

	<div class="list">
  	<label class="item item-input">
  		<i class="icon ion-person placeholder-icon"></i>
    	<input type="text" placeholder="Username" ng-model="register.name">
  	</label>
	</div>

 		<a class="butright" type="button" ng-click="addTracker(track,register)">ADD TRACKER</a>

	</form>
	</center>

</ion-content>
</ion-pane>
</ion-view>
