<ion-view title="Edit Password" id="page13">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h4 id="changepass-heading8" style="color:#179E6D;font-weight:400;text-align:center;">Change Password</h4>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <form class="list">
            <label class="item item-input" name="username">
                <input type="text" placeholder="username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="current password">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="change password">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="confirm password">
            </label>
        </form>
        <div class="button-bar">
            <button id="changepass-button15" class="button button-assertive  button-block">Cancel</button>
            <button id="changepass-button16" class="button button-balanced  button-block">Save</button>
        </div>
    </ion-content>
</ion-view>