
<ion-view>
<ion-pane style="background-color: white;">

  <ion-header-bar align-title="left" class="bar-custom-dark" style="height:8%">
    <img class="logohead" src="img/logohead.png">
    <div ng-controller="MenuController">
    </div>
    </ion-header-bar>

<ion-content class="scroll">
<div class="top">
<center>
<p class="welcome">Hi awak!</p>
<img class="dp" src="img/dp.png"><br>
<a class="track"  href="#/following"><b> {{trackeds}} </b> Tracking</a>
<a class="tracks" href="#/follower"> <b> {{trackers}} </b> Trackers</a>
<br><br>
<a class="editprof">Edit Profile</a><br><br>
</center>
<p class="profhead" >Username </p>
<p class="profile" >{{ registers.name }}</p>
<p class="profhead">Email</p>
<p class="profile">{{ registers.email }}</p>
</div>

<div class="bottom">
	<a class="addbut" type="button" href="#/addtrack">+</a>
	<a class="editprof" ng-click="Refresh()">UPDATE</a><br><br>
</div>




</ion-content>

<ion-footer-bar align-title="left" class="bar-dark">

          <a class="tab-item active" href="#entered">
            <i class="icon ion-home"></i>Home</a>
      
          <a class="tab-item" href="#/following">
            <i class="icon ion-android-person"></i>Following</a>

          <a class="tab-item" href="#map">
            <i class="icon ion-android-map"></i>Track</a>

          <a class="tab-item" href="#follower">
            <i class="icon ion-android-people"></i>Followers</a>

          <a class="tab-item" href="#setting">
            <i class="icon ion-android-settings"></i>Settings</a>
</ion-footer-bar> 

</ion-pane>
</ion-view>