<ion-view title="Feedback" id="page18">
    <ion-content padding="true" class="has-header">
        <h4 id="feedback-heading15" style="color:#4BA362;font-weight:400;text-align:center;">Send us your Suggestions or Questions!</h4>
       <center><textarea ng-model="feedback.comment"  style="border: solid 1px; border-color: #DEDEDE" name="message" cols="50" rows="15" placeholder="Your Message Here"></textarea></center>

        <button id="feedback-button13"  ng-click="sendFeedback(feedback)" class="button button-balanced  button-block icon ion-android-mail"> Submit</button>



    </ion-content>
</ion-view>