
<ion-view>

<ion-pane style="background-color: white;">

<ion-header-bar align-title="left" class="bar-custom-dark" style="height:8%">
  <img class="logohead" src="img/logohead.png">
	</ion-header-bar>


<ion-content class="scroll">

<p class="space"></p>

<center>
<p class="head">Following</p>

      <!-- From Track Table -->
      <div class="content" >
      <p class="title" ng-click="showTracked()">The people you track</p><br>
          <ion-list >
            <ion-item  value="{{ tracked.name }}" ng-repeat="tracked in trackeds ">{{ tracked.name }}
            <a class="butremove" type="button" ng-click="deleteTracked(tracked)">REMOVE</a></ion-item>

          </ion-list>       
      </div> 
</center>
</ion-content>
<ion-footer-bar align-title="left" class="bar-dark">

          <a class="tab-item" href="#entered">
            <i class="icon ion-home"></i>Home</a>
      
          <a class="tab-item active" href="#/following">
            <i class="icon ion-android-person"></i>Following</a>

          <a class="tab-item" href="#map">
            <i class="icon ion-android-map"></i>Track</a>

          <a class="tab-item" href="#follower">
            <i class="icon ion-android-people"></i>Followers</a>

          <a class="tab-item" href="#setting">
            <i class="icon ion-android-settings"></i>Settings</a>
</ion-footer-bar> 
</ion-pane>
 </ion-view>