
<ion-view>
      <ion-pane style="background-color: #16a085;">

      <ion-header-bar align-title="left" class="bar-dark" style="height:8%">
        <div ng-controller="MainCtrl">
        <i class="ion-android-arrow-back custom-icon" ng-click="myGoBack()"></i>
        <p class="headbar">FORGOT PASSWORD</p>
        </div>
      </ion-header-bar>

      <ion-content class = "scroll">

      <center>
      <img class="logosm" src="img/logo.png">
      
      <p class="space"></p>
      <p class="space"></p>
     

    <label class="form">
    <input type="text" placeholder="Email" name="email" ng-required="true">
    </label>
    </center>
    
    <a class="butform" type="button" href="#/home">SEND</a>
        
   
  </ion-content>
  </ion-pane>
  </ion-view>