<ion-view title="Help" id="page19">
    <ion-content padding="true" class="has-header">
        <h3 id="help-heading12" style="color:#4BA362;font-weight:400;text-align:center;">How To Use?</h3>
        <div id="help-markdown9" style="color:#4B4B4B;text-align:center;">
            <p>Just follow these simple steps and you are right on track!</p>
        </div>
        <div>
            <img src="img/tracks.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div>
            <img src="img/Signup.png" width="55%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div>
            <img src="img/Add tracker.png" width="55%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div>
            <img src="img/track.png" width="53%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div><br><br>
    </ion-content>
</ion-view>