
    <ion-view>
    
    <ion-pane style="background-color: #71BA51;">
      
      <ion-content class = "scroll">
      <center>
      <img class="logo" src="img/logo.png">
      <p class="space"></p>

      <p class="quote">Never Missed<br><br>A Thing Anymore</p>   

           
      <a class="butsign" type="button" href="#/signup">SIGN UP</a><br>
      <a class="butsign" type="button" href="#/signin">SIGN IN</a><br>
      <!-- <a class="butsignup" type="button" href="#/entered" >(ke entered)</a><br>
      <a class="butsignin" type="button" href="#/map" >(ke map)</a><br>
      <a class="butsignin" type="button" href="#/addtrack" >ADD TRACK</a><br><br><br><br><br><br> -->
      </center>

  </ion-content>
  </ion-pane>
  </ion-view>