<ion-view title="About Me" id="page2" >

 <div ng-controller="MenuController" ng-init="doRefresh()">
    </div>

    
    <ion-content padding="true" class="manual-ios-statusbar-padding">

     <ion-refresher 
            on-refresh="doRefresh()"
            pulling-text="Pull to refresh..."
            refreshing-icon="ion-load-c">
        </ion-refresher>

        
        <h3 id="home-heading3" style="color:#00B16A;font-weight:400;text-align:center;">Hi awak!</h3>
        <div>
            <img src="img/katmana round.png" width="35%" height="auto" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;">
        </div>

        <div><center>
        <a class="butracking" type="button" ui-sref="tabsController.tracking"><b>{{trackeds}}</b> Tracking</a>
        <a class="butracker" type="button" ui-sref="tabsController.tracker"><b>{{trackers}}</b> Trackers</a>
        </center>
        </div>


        <h3 id="home-heading4" style="color:#00B16A;font-weight:400;">Username</h3>
        <p>{{ registers.name }}</p>

        <div class="spacer" style="width: 300px; height: 5px;"></div>

        <h3 id="home-heading5" style="color:#00B16A;font-weight:400;">Email</h3>
        <p>{{ registers.email }}</p>
    
        <div><a class="butupdate" type="button" ng-click="Refresh()">UPDATE</a></div>

        <div class="spacer" style="width: 300px; height:5px;"></div>

        <img src="img/circle.png" width="15%" height="auto" ui-sref="addtrack" style="display: -webkit-box; margin-left: auto;">

    </ion-content>
</ion-view>