<ion-view title="main" hide-nav-bar="true" hide-back-button="true" id="page12">
 <div ng-controller="MenuController">
    </div>
    <ion-content padding="true" style="background: url(img/paper.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="height: 20px;"></div>
        <div>
            <img src="img/katmana rounds.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            <img src="img/logo.png" width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <a ui-sref="signin" id="main-button8" style="color:#FFFFFF;font-size:16px;" class="button button-light  button-block button-outline">SIGN IN</a>
        <a ui-sref="signup" id="main-button9" style="color:#FFFFFF;font-size:16px;" class="button button-light  button-block button-outline">SIGN UP</a>
    </ion-content>
</ion-view>