<ion-view title="Privacy Policy" id="page17">
    <ion-content padding="true" class="has-header">
        <div id="privacy-markdown8" style="color:#4B4B4B; text-align:justify;"><br>
            <p>We have written our privacy policy to be understandable for humans (not just lawyers). By using our Awak Kat Mana app, future products, services or features we develop and introduce, you consent to the collection, processing and disclosure
                of data concerning you in accordance with this privacy policy.</p>

            <p>
                <strong>Data collection and processing.</strong>
                Awak Kat Mana collects data from your phone to provide you with an easy way to track how and where you move in your everyday life. When you install, run or use our services we collect:</p>

            <p>
                <strong>Location.</strong>Our system starts to collect location data from sources such as GPS, Wi-Fi and cell towers once you install the App and consent to the App’s tracking your location. We also collect Accelerometer samples, Wi-Fi network
                IDs, activity data, and places you identify with the Services. You may choose to stop our collection of location data by removing the App from your phone.</p>

            <p>
                <strong>Information you provide.</strong>If you choose to create an account, you provide us your email, username and a password in order to use all of the App’s features.</p>

            <p>
                <strong>Communications with us.</strong>
                If you communicate with us, we collect the information and content you provide to us, including personally identifying information such as your name, email or other contact information. You can provide anonymous feedback by using an email account that
                does not reveal your identity.</p>

            <p>
                <strong>How we use information</strong>
                We process and use the information we collect about you in a variety of ways. The primary purpose is to provide you with an easy way to track how and where you and your worthy objects move in your everyday life. We upload your information from your device
                over a secured connection to our servers in order to analyze the data and identify your activities, routes and places. Results are sent back to your phone over a secured connection so that you can view and interact with them, and they
                are stored on our servers.</p>

            <p>Other ways we use your data include to develop aggregated analyses and reports that help us improve our algorithms, measure and understand how our Services are used, and to develop new products, services and features such as by recognizing
                popular activities, routes, areas and places. We also use your information to communicate with you, such as by sending you notifications and service-related messages, or by responding to your requests and questions.</p>

            <p>
                <strong>Cookies and Similar Technologies</strong>
                We may collect information about your use of our Services through the use of cookies, pixels or similar technologies. For example, we may use this information to provide or improve our Services, for measurement and analytics to better understand how our
                services function and are used, or for internal operations. Cookies are small pieces of data that are stored on your mobile phone, computer, or other device. Pixels, often used in connection with cookies, are small instances of code placed
                in webpages that do things like allow another server to measure how frequently webpages are viewed and used.</p>

            <p>Third parties may also use cookies to collect information about your activities on our website. Your browser or device may offer you control over the use cookies or other technologies when you use the Services. For example, you may be able
                to set your browser or device to disable, clear, reset or block the use of cookies or similar technologies.</p>

            <p>We may access, use, preserve, and share your information, including your personally identifying information, with third parties when we have a good faith belief that it is necessary to: detect, prevent and address fraud and other illegal activity;
                protect ourselves, you and others, including as part of investigations; or prevent death or imminent bodily harm. We may also share such information if we believe that you have abused your rights to use the Services or violated an applicable
                law, or in connection with any dispute between you and us with respect to the Services.</p>

            <p>If we sell all or part of our business, make a sale or transfer of assets, are otherwise involved in a merger or business transfer, or in the event of bankruptcy, we may disclose and transfer your personally identifying information to one
                or more third parties as part of that transaction.</p>

            <p>We may also generally disclose aggregate or anonymous information where reasonable steps have been taken to ensure the data does not contain your personally identifying information.</p>

            <p>
                <strong>Data retention and deletion</strong>
                We may retain information regarding you and your use of the Services, including personally identifying information, for as long as needed to provide you with the Services and the uses described in this Privacy Policy. This often means that we will keep
                information for the duration of your account. If you choose, Data Settings in the App to request the deletion of your trackers and tracking.</p>

            <p>
                <strong>Changes to our privacy policy</strong>
                We reserve the right to alter our privacy policy at any time. We will notify you of any alterations with reasonable notice through the service, such as by posting it on our website, by email, or otherwise. If you do not agree to the altered privacy policy,
                you may stop using our Services.</p>
        </div><br><br>
    </ion-content>
</ion-view>