<ion-view>
      <ion-pane style="background-color: #27ae60;">

      <ion-content class="scroll">

      <p class="space"></p>
    <center>
      <img class="logosm" src="img/logo.png">
      <p class="space"></p>


  <div class="registerform">

    <label class="form">
    <input type="text" placeholder="Username" name="email" ng-model="register.name">
    </label>

    <label class="form">
    <input type="password" placeholder="Password" name="password" ng-model="register.password" >
    </label>
  </div>
  </center>
    <a class="forgpass" href="#/forgopass">FORGOT YOUR PASSWORD?</a>
    <a class="butform" type="button" ng-click="loginUser(register)">SIGN IN</a><br>
    <a class="forgpass" href="#/signup">I DON'T HAVE AN ACCOUNT YET</a>
  
    
  
      
    

  </ion-content>
  </ion-pane>
  </ion-view>