<ion-view title="Add Tracker" id="page14" style="background-color:white;">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 33px;"></div>


        <form name="Add Tracker By Name" class="list">
        
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Tracker Username" ng-model="register.name">
            </label>

            <button id="addtrack-button10" style="color:#FFFFFF;font-size:14px;" class="button button-royal  button-block" ng-click="addTracker(track,register)">Add Tracker</button>

        </form>


        

    </ion-content>
</ion-view>