<ion-view title="Settings" id="page8">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">

    <p class="space"></p>
    
    <div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person"></i>
    About Us
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-lock"></i>
    Privacy Policy
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-chat"></i>
    Feedback
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-edit"></i>
    Edit Username
  </a>

 <a class="item item-icon-left" href="#">
    <i class="icon ion-eye"></i>
    Change Password
  </a>

   <a class="item item-icon-left" href="#" ng-click="deleteAllTracker()">
    <i class="icon ion-android-delete"></i>
    Remove All Trackers
  </a>

 <a class="item item-icon-left" href="#" ng-click="deleteAllTracked()">
    <i class="icon ion-trash-b"></i>
    Remove All Tracking
  </a>

 <a class="item item-icon-left" href="#" ng-click="logoutUser(register)">
    <i class="icon ion-android-share"></i>
    Log Out
  </a>
  
</div>
    </ion-content>
</ion-view>