<ion-view title="signup" hide-nav-bar="true" id="page10" style="background-color:#47B39D;">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 283px; height: 53px;"></div>
        <div>
            <img src="img/awak.png" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>

        <div class="spacer" style="width: 283px; height: 0px;"></div>
        <div class="spacer" style="width: 283px; height: 23px;"></div>

        <form name="signForm" class="list">

                <label class="item item-input" name="email">
                    <input type="email" placeholder="email" name="email" ng-model="register.email" ng-required="true">
                </label>
                
                <label class="item item-input" name="username">
                    <input type="text" placeholder="username" name="username" ng-model="register.name" ng-required="true" ng-maxlength="15" letters-only>
                </label>
                
                <label class="item item-input" name="password">
                    <input type="password" placeholder="password" name="password" ng-model="register.password" ng-required="true"mng-maxlength="15">
                </label>

            <button id="signup-button3" style="color:#FFFFFF;border-radius:5px 5px 5px 5px;" class="button button-dark  button-block" ng-click="signForm.$valid && addUser(register)">Sign up</button>
        </form>

        <a ui-sref="signin" id="signup-button7" style="color:#FFFFFF;font-size:15px;" class="button button-light  button-block button-clear">Already have an account? Sign In</a>
    </ion-content>
</ion-view>