<ion-view title="Tracker" id="page7">
    <ion-content padding="true" class="manual-ios-statusbar-padding">

      <div class="content">
        <br>
      
    <h4 id="tracker-heading7" style="color:#179E6D;font-weight:400;text-align:center;">
    The people who track you
    </h4>

      <br>
          <ion-list >
            <ion-item value="{{ tracker.name }}" ng-repeat="tracker in trackers ">
            {{ tracker.name }}
            <a class="butremove" type="button" ng-click="deleteTracker(tracker)">REMOVE</a>
            </ion-item>
          </ion-list> 

      </div> 

      </ion-content>
</ion-view>