
<ion-view>

<ion-pane style="background-color: #F29B34;">

<ion-header-bar align-title="left" class="bar-dark" style="height:8%">

  <img class="logohead" src="img/logohead.png">
	</ion-header-bar>


<ion-content class="scroll">

<div class="space"></div>

<p class="head"> Tracker </p>
 <br>

  <form name="ADDform">
  <h4>ADD TRACKER</h4>
    <label>
       TRACKED ID / MY ID / Sendiri:
       <input type="text" name="userName" ng-model="track.trackedId">
    </label><br>

    <label>
       TRACKER ID / Orang lain atau tracker kite:
       <input type="text" name="lastName" ng-model="track.trackerId">
    </label>

  <br>
 <tt>TRACK = {{track}}</tt><br/>
<h4 class="btn icon-save" ng-click="addTracker(track)">ADD </h4><br><br><br><br>
</form>


  <form name="DELETETrackerform">
  <h4>DELETE TRACKER</h4>
    <label>
      TRACKED ID / MY ID / Sendiri:
       <input type="text" name="userName" ng-model="track.trackedId" >
    </label>
    <label>
       TRACKER ID / Orang lain atau tracker kite:
       <input type="text" name="lastName" ng-model="track.trackerId">
    </label>

  <br>
 <tt>TRACK = {{track}}</tt><br><br>
<i class="btn icon-save" ng-click="deleteTracker(track)">DELETE </i><br><br><br><br>
</form>


  <form name="DELETETrackedform">
  <h4>DELETE TRACKED</h4>
    <label>
      TRACKER ID / MY ID / Sendiri:
       <input type="text" name="userName" ng-model="track.trackerId" >
    </label>
    <label>
       TRACKED ID / Orang lain atau siapa kite track/ Nak delete org tu:
       <input type="text" name="lastName" ng-model="register.name">
    </label>

  <br>
 <tt>TRACK = {{track}}</tt><br><br>
 <tt>REGISTER = {{register}}</tt><br><br>
<i class="btn icon-save" ng-click="deleteTracked(track,register)">DELETE Tracked</i><br><br><br><br>
</form>



  <form name="DELETE TRACKER FORM">
  <h4>DELETE TRACKER</h4>
    <label>
      TRACKEd ID / MY ID / Sendiri:
       <input type="text" name="userName" ng-model="track.trackedId" >
    </label>
    <label>
       TRACKEr ID / Orang lain atau tracker kite/ Nak delete org tu:
       <input type="text" name="lastName" ng-model="register.name">
    </label>

  <br>
 <tt>TRACK = {{track}}</tt><br><br>
 <tt>REGISTER = {{register}}</tt><br><br>
<i class="btn icon-save" ng-click="deleteTracker(track,register)">DELETE Tracker</i><br><br><br><br>
</form>

  <form name="ADD TRacKer by name">
  <h4>ADD TRACKER</h4>
    <label>
       TRACKED ID / MY ID / Sendiri:
       <input type="text" name="userName" ng-model="track.trackedId">
    </label><br>

    <label>
       TRACKER ID / Orang lain atau tracker kite:
       <input type="text" name="lastName" ng-model="register.name">
    </label>

  <br>
 <tt>TRACK = {{track}}</tt><br/>
 <tt>REGISTER = {{register}}</tt><br><br>
<h4 class="btn icon-save" ng-click="addTracker(track,register)">ADD </h4><br><br><br><br>
</form>


<br><br><br><br>
</ion-content>

<ion-footer-bar align-title="left" class="bar-dark">


          <a class="tab-item active" href="#home">
            <i class="icon ion-home"></i>Home</a>
      
          <a class="tab-item" href="#/following">
            <i class="icon ion-android-pin"></i>Following</a>

          <a class="tab-item" href="#follower">
            <i class="icon ion-android-contact"></i>Followers</a>

          <a class="tab-item" href="#setting">
            <i class="icon ion-android-settings"></i>Settings</a>
 
</ion-footer-bar> 
</ion-pane>
 </ion-view>