
<ion-view>

<ion-pane style="background-color: #03a679;">

<ion-header-bar align-title="left" class="bar-dark" style="height:8%">

<div ng-controller="MainCtrl">
   <i class="ion-android-arrow-back custom-icon" ng-click="myGoBack()"></i>
   <p class="headbar">ADD TRACKER</p>
</div>

</ion-header-bar>

<ion-content class="scroll">

<!-- popup button
<button class = "button" ng-click = "showAlert()">error alert</button> -->

<div class="space"></div>

  <form name="ADD TRacKer by name">

<p class="head">Add Tracker</p>
<div class="space"></div>

<div class="list">
  <label class="item item-input">
  <i class="icon ion-person placeholder-icon"></i>
    <input type="text" placeholder="Username" ng-model="register.name">
  </label>
</div>
 <tt>TRACK = {{track}}</tt><br/>
 <tt>REGISTER = {{register}}</tt><br><br>
<a class="butright" type="button" ng-click="addTracker(track,register)">ADD TRACKER</a>

</form>


</ion-content>


</ion-pane>
 </ion-view>
