<ion-view>
      <ion-pane>
      
      <ion-content class = "scroll">

      <center><br><br><br>
      <img class="logo" src="img/logo.png" style="width:250px; height:130px;"/>
     <br><br><br><br></center>


  <div class="list">
    <label class="item item-input">
    <input type="text" placeholder="Username" name="email" ng-model="register.name">
    </label>

    <label class="item item-input">
    <input type="password" placeholder="Password" name="password" ng-model="register.password" >
    </label>

  <div class="row">
        <div class="col col-50 col-offset-80">            
          <a class="button button-small button-dark"  ng-click="loginUser(register)">SIGN IN sini</a>
        </div>
      </div>
      </div>

  <br><br><br><br><br><br><br><br><br><br>
          <a class="button button-small button-light" href="#/forgotpassword">FORGOT YOUR PASSWORD?</a>
        
   
  </ion-content>
  </ion-pane>
  </ion-view>