input[type="text"] { 
    border: none;
}

input[type="emai"]{
    border: none;
}

input[type="password"]{
    border: none;
}

.butremove {
    background-color: #f57745; 
    color: white;
    width: 25%;
    padding: 0.5em 0.5em;
    float: right;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.85em;
    border-radius: 0.3em;
}

.butupdate {
    background-color: #f57745; 
    color: white;
    width: 25%;
    padding: 0.5em 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 0.3em;
}

.butracking {
    background-color: #6CCE52; 
    color: white;
    width: 40%;
    padding: 0.6em 0.6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 0.3em;
}

.butracker {
    background-color: #F95C50; 
    color: white;
    width: 40%;
    padding: 0.6em 0.6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 0.3em;
}